// app global css in SCSS form

// -----------------------------------------
// -- HTML Tags
// -----------------------------------------
//
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  margin: 10px 0 0 0;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0 10px 0;
}

p {
  margin-bottom: 10px;
}

// -----------------------------------------
// -- Title- and Sidebar
// -----------------------------------------
//
.q-toolbar__title {
  font-size: 16px;
}

.q-item__section--side {
  .q-item__section--avatar {
    min-width: unset;
  }
  .q-icon {
    margin-top: -15px !important;
  }
}