// app global css in SCSS form
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  margin: 10px 0 0 0;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0 10px 0;
}

p {
  margin-bottom: 10px;
}

.q-toolbar__title {
  font-size: 16px;
}